{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
</head>
<body>

    <h1>Impressum</h1>

    <p>deinlandschaftsbauer UG (haftungsbeschr&auml;nkt)<br />
        Tettnangerstr. 10<br />
        88099 Neukirch
    </p>

    <p>Handelsregister: In Gr&uuml;ndung<br />
        Registergericht: Amtsgericht Ulm
    </p>

    <p><strong>Vertreten durch:</strong><br />
        Nico Giuseppe Carlucci<br />
        Maximilian Dennis Okon
    </p>

    <h2>Kontakt</h2>
    <p>Telefon: 0151 51593584<br />
        E-Mail: info@deinlandschaftsbauer.de
    </p>

    <h2>Umsatzsteuer-ID</h2>
        <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
        In Gr&uuml;ndung
    </p>

    <h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
    <p>Berufsbezeichnung:<br />
        Garten- und Landschaftsbauer
    </p>

    <h2>Angaben zur Berufshaftpflichtversicherung</h2>
    <p><strong>Name und Sitz des Versicherers:</strong><br />
        ARAG Versicherungen Sopa &amp; Guci<br />
        Hauptstra&szlig;e 84<br />
        88161 Lindenberg im Allg&auml;u
    </p>
    <p><strong>Geltungsraum der Versicherung:</strong><br />Deutschland</p>

    <h2>Redaktionell verantwortlich</h2>
    <p>Maximilian Dennis Okon &amp; Nico Giuseppe Carlucci<br />
        Tettnangerstr. 10<br />
        88099 Neukirch
    </p>

<h2>EU-Streitschlichtung</h2>
<p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

<p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>

</body>
</html>
